<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<%- include('../includes/nav.ejs') %>
<br>

<div  class='container'>

        <% if(prods.length) {%>
            <% for(let prod of prods) { %>

                <div class='box'>
                <div class="card" style="width: 18rem;">
                    <h5 class="card-title"><%= prod.title %></h5>
                    <img class="card-img-top" src="/<%= prod.imageUrl %>" alt="<%= prod.title %>">
                    <div class="card-body">
                      
                      <h5 class='card-text'>$<%=prod.price%></h5>
                      <p class="card-text des"><%=prod.description %></p>
                   
                      <a class='edit' href="/admin/edit-product/<%=prod._id%>?edit=true">Edit</a>
                  
                       <input type="hidden" name="productId" value="<%=prod._id%>">
                     
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                      <button class='button' type="button" onclick="deleteProduct(this)" >Delete</button>
                    
                         
                        
                    </div>
                  </div>
                </div>
                  
            <%} %>

        <% }else {%>
          <h1 style="justify-content:center;text-align: center;margin: 50px auto;">No Products Available!</h1>
        <% }%>
</div>      
<script src="/js/admin.js"></script>
<%- include('../includes/foot.ejs') %>